extends layout 

block content 
    h1= title
    div.container-fluid
        - let destn1 = `dispatch(\"/gadget/create")`
        //button.btn( class="btn-secondary ml-1", onclick = destn1) Create
        div(class ="row m-1")
            each item, index in results
                div.col-sm-2(onclick=`buy(${index})`) #{item["gadget_type"]}, #{item["gadget_price"]}, #{item["gadget_version"]}
                    br
                    button.btn( class="btn-primary ml-1", onclick= destination) Update

    script. 
        function dispatch(path) {
            window.location.href=path
        }
