extends layout

block content
  h1= title
  - let gadgets = results
  div(claass="container-fluid mt-3")
   div(class="row m-1")
    each gadget,index in gadgets
     - let destination = `dispatch(\"/gadget/update?id=${gadget ._id}\")`
     div(class="col-sm-3 bg-success m-2 p-4" onclick=`buy(${index})`) #{gadget.gadget_type} - #{gadget.gadget_price} - #{gadget.gadget_version}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
   function buy(itemNo)
   {
     alert(`You purchased Item ${itemNo+1}`)
   }
   function dispatch(path)
   {
     window.location.href=path
   }